{% extends 'base.html' %}
{% load static %}

{% block title %}Machinery - HTML Template | Blog Default{% endblock %}

{% block content %}
<!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'website/images/background/2.jpg' %})">
        <div class="auto-container">
            <h1>Blog Default</h1>
            <ul class="page-breadcrumb">
                <li><a href="{% url 'website:index' %}">Home</a></li>
                <li><a href="{% url 'website:blog' %}">Blog</a></li>
                <li>Blog Default</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Content Side / Our Blog-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="our-blog padding-right">
                        <!-- News Block -->
                        <div class="news-block-two">
                            <div class="inner-box">
                                <div class="image-box"><a href="{% url 'website:blog_single' %}"><img src="{% static 'website/images/resource/blog-1.jpg' %}" alt=""></a></div>
                                <div class="lower-content clearfix">
                                    <div class="info">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-folder-open-o"></i>Technology</a></li>
                                            <li><a href="#"><i class="fa fa-clock-o"></i>June 06, 2019</a></li>
                                        </ul>  
                                    </div>
                                    <h3><a href="{% url 'website:blog_single' %}">Won best factory award of the year 2016 & 17</a></h3>
                                    <div class="text">Denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</div>
                                    <div class="more-box clearfix">
                                        <div class="left-info">
                                            <div class="author-box clearfix">
                                                <img src="{% static 'website/images/testimonials/3.png' %}" alt="Awesome Image"/>
                                                <span class="author-name">Miss Tamimi</span>
                                            </div><!-- /.author-box -->
                                            <div class="comment-box"><a href="{% url 'website:blog_large_image' %}"><i class="machinery-icon-message"></i>2 Comments</a></div><!-- /.comment-box -->
                                        </div><!-- /.left-info -->
                                        <div class="link-box"><a href="{% url 'website:blog_single' %}">Read More<span class="machinery-icon-next"></span></a></div>
                                    </div><!-- /.more-box -->
                                </div>
                            </div>
                        </div>

                        <!-- News Block -->
                        <div class="news-block-two">
                            <div class="inner-box">
                                <div class="image-box"><a href="{% url 'website:blog_single' %}"><img src="{% static 'website/images/resource/blog-2.jpg' %}" alt=""></a></div>
                                <div class="lower-content clearfix">
                                    <div class="info">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-folder-open-o"></i>Technology</a></li>
                                            <li><a href="#"><i class="fa fa-clock-o"></i>June 06, 2019</a></li>
                                        </ul>  
                                    </div>
                                    <h3><a href="{% url 'website:blog_single' %}">Won best factory award of the year 2016 & 17</a></h3>
                                    <div class="text">Denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</div>
                                    <div class="more-box clearfix">
                                        <div class="left-info">
                                            <div class="author-box clearfix">
                                                <img src="{% static 'website/images/testimonials/3.png' %}" alt="Awesome Image"/>
                                                <span class="author-name">Miss Tamimi</span>
                                            </div><!-- /.author-box -->
                                            <div class="comment-box"><a href="{% url 'website:blog_large_image' %}"><i class="machinery-icon-message"></i>2 Comments</a></div><!-- /.comment-box -->
                                        </div><!-- /.left-info -->
                                        <div class="link-box"><a href="{% url 'website:blog_single' %}">Read More<span class="machinery-icon-next"></span></a></div>
                                    </div><!-- /.more-box -->
                                </div>
                            </div>
                        </div>

                        <!-- News Block -->
                        <div class="news-block-two">
                            <div class="inner-box">
                                <div class="image-box"><a href="{% url 'website:blog_single' %}"><img src="{% static 'website/images/resource/blog-3.jpg' %}" alt=""></a></div>
                                <div class="lower-content clearfix">
                                    <div class="info">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-folder-open-o"></i>Technology</a></li>
                                            <li><a href="#"><i class="fa fa-clock-o"></i>June 06, 2019</a></li>
                                        </ul>  
                                    </div>
                                    <h3><a href="{% url 'website:blog_single' %}">Won best factory award of the year 2016 & 17</a></h3>
                                    <div class="text">Denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</div>
                                    <div class="more-box clearfix">
                                        <div class="left-info">
                                            <div class="author-box clearfix">
                                                <img src="{% static 'website/images/testimonials/3.png' %}" alt="Awesome Image"/>
                                                <span class="author-name">Miss Tamimi</span>
                                            </div><!-- /.author-box -->
                                            <div class="comment-box"><a href="{% url 'website:blog_large_image' %}"><i class="machinery-icon-message"></i>2 Comments</a></div><!-- /.comment-box -->
                                        </div><!-- /.left-info -->
                                        <div class="link-box"><a href="{% url 'website:blog_single' %}">Read More<span class="machinery-icon-next"></span></a></div>
                                    </div><!-- /.more-box -->
                                </div>
                            </div>
                        </div>

                        <!-- News Block -->
                        <div class="news-block-two">
                            <div class="inner-box">
                                <div class="image-box"><a href="{% url 'website:blog_single' %}"><img src="{% static 'website/images/resource/blog-4.jpg' %}" alt=""></a></div>
                                <div class="lower-content clearfix">
                                    <div class="info">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-folder-open-o"></i>Technology</a></li>
                                            <li><a href="#"><i class="fa fa-clock-o"></i>June 06, 2019</a></li>
                                        </ul>  
                                    </div>
                                    <h3><a href="{% url 'website:blog_single' %}">Won best factory award of the year 2016 & 17</a></h3>
                                    <div class="text">Denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</div>
                                    <div class="more-box clearfix">
                                        <div class="left-info">
                                            <div class="author-box clearfix">
                                                <img src="{% static 'website/images/testimonials/3.png' %}" alt="Awesome Image"/>
                                                <span class="author-name">Miss Tamimi</span>
                                            </div><!-- /.author-box -->
                                            <div class="comment-box"><a href="{% url 'website:blog_large_image' %}"><i class="machinery-icon-message"></i>2 Comments</a></div><!-- /.comment-box -->
                                        </div><!-- /.left-info -->
                                        <div class="link-box"><a href="{% url 'website:blog_single' %}">Read More<span class="machinery-icon-next"></span></a></div>
                                    </div><!-- /.more-box -->
                                </div>
                            </div>
                        </div>

                        <!-- News Block -->
                        <div class="news-block-two">
                            <div class="inner-box">
                                <div class="image-box"><a href="{% url 'website:blog_single' %}"><img src="{% static 'website/images/resource/blog-5.jpg' %}" alt=""></a></div>
                                <div class="lower-content clearfix">
                                    <div class="info">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-folder-open-o"></i>Technology</a></li>
                                            <li><a href="#"><i class="fa fa-clock-o"></i>June 06, 2019</a></li>
                                        </ul>  
                                    </div>
                                    <h3><a href="{% url 'website:blog_single' %}">Won best factory award of the year 2016 & 17</a></h3>
                                    <div class="text">Denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</div>
                                    <div class="more-box clearfix">
                                        <div class="left-info">
                                            <div class="author-box clearfix">
                                                <img src="{% static 'website/images/testimonials/3.png' %}" alt="Awesome Image"/>
                                                <span class="author-name">Miss Tamimi</span>
                                            </div><!-- /.author-box -->
                                            <div class="comment-box"><a href="{% url 'website:blog_large_image' %}"><i class="machinery-icon-message"></i>2 Comments</a></div><!-- /.comment-box -->
                                        </div><!-- /.left-info -->
                                        <div class="link-box"><a href="{% url 'website:blog_single' %}">Read More<span class="machinery-icon-next"></span></a></div>
                                    </div><!-- /.more-box -->
                                </div>
                            </div>
                        </div>

                        <!-- News Block -->
                        <div class="news-block-two">
                            <div class="inner-box">
                                <div class="image-box"><a href="{% url 'website:blog_single' %}"><img src="{% static 'website/images/resource/blog-6.jpg' %}" alt=""></a></div>
                                <div class="lower-content clearfix">
                                    <div class="info">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-folder-open-o"></i>Technology</a></li>
                                            <li><a href="#"><i class="fa fa-clock-o"></i>June 06, 2019</a></li>
                                        </ul>  
                                    </div>
                                    <h3><a href="{% url 'website:blog_single' %}">Won best factory award of the year 2016 & 17</a></h3>
                                    <div class="text">Denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</div>
                                    <div class="more-box clearfix">
                                        <div class="left-info">
                                            <div class="author-box clearfix">
                                                <img src="{% static 'website/images/testimonials/3.png' %}" alt="Awesome Image"/>
                                                <span class="author-name">Miss Tamimi</span>
                                            </div><!-- /.author-box -->
                                            <div class="comment-box"><a href="{% url 'website:blog_large_image' %}"><i class="machinery-icon-message"></i>2 Comments</a></div><!-- /.comment-box -->
                                        </div><!-- /.left-info -->
                                        <div class="link-box"><a href="{% url 'website:blog_single' %}">Read More<span class="machinery-icon-next"></span></a></div>
                                    </div><!-- /.more-box -->
                                </div>
                            </div>
                        </div>

                        <!-- Styled Pagination -->
                        <div class="styled-pagination text-center">
                            <ul class="clearfix">
                                <li class="prev"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                                <li><a href="#" class="active">1</a></li>
                                <li><a href="#">2</a></li>
                                <li class="next"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!--Sidebar Side-->
                <div class="sidebar-side col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar default-sidebar">
                        
                        <!-- Search -->
                        <div class="sidebar-widget search-box">
                            <form method="post" action="contact.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Enter Search Keywords" required>
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>
                        
                        <!--Blog Category Widget-->
                        <div class="sidebar-widget category-widget">
                            <div class="sidebar-title">
                                <h2>Categories</h2>
                            </div>
                            <ul class="cat-list">
                                <li><a href="#">Latest Technology   <span>6</span></a></li>
                                <li><a href="#">Manufacturing       <span>2</span></a></li>
                                <li><a href="#">Agriculture         <span>8</span></a></li>
                                <li><a href="#">Chemical Industry   <span>5</span></a></li>
                                <li><a href="#">treatment           <span>3</span></a></li>
                            </ul>
                        </div>

                        <!-- Popular Posts -->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title"><h2>Latest From Blog</h2></div>

                            <article class="post">
                                <div class="post-info">April 18, 2017</div>
                                <div class="text"><a href="{% url 'website:blog_single' %}">We are best for industrial & business solution.</a></div>
                            </article>

                            <article class="post">
                                <div class="post-info">February 14, 2017</div>
                                <div class="text"><a href="{% url 'website:blog_single' %}">Top ten reason why should choose our industry.</a></div>
                            </article>
                            
                            <article class="post">
                                <div class="post-info">January 16, 2017</div>
                                <div class="text"><a href="{% url 'website:blog_single' %}">We won the best factory award of the year.</a></div>
                            </article>
                        </div>

                        <!-- Popular Posts -->
                        <div class="sidebar-widget flicker-posts">
                            <div class="sidebar-title"><h2>Flickr Images</h2></div>
                            <ul class="flicker-list clearfix">
                                <li><a href="#">
                                    <img src="{% static 'website/images/resource/flicker-1-1.jpg' %}" alt="Awesome Image"/>
                                    <span class="box"><i class="fa fa-flickr"></i></span>
                                </a></li>
                                <li><a href="#">
                                    <img src="{% static 'website/images/resource/flicker-1-2.jpg' %}" alt="Awesome Image"/>
                                    <span class="box"><i class="fa fa-flickr"></i></span>
                                </a></li>
                                <li><a href="#">
                                    <img src="{% static 'website/images/resource/flicker-1-3.jpg' %}" alt="Awesome Image"/>
                                    <span class="box"><i class="fa fa-flickr"></i></span>
                                </a></li>
                                <li><a href="#">
                                    <img src="{% static 'website/images/resource/flicker-1-4.jpg' %}" alt="Awesome Image"/>
                                    <span class="box"><i class="fa fa-flickr"></i></span>
                                </a></li>
                                <li><a href="#">
                                    <img src="{% static 'website/images/resource/flicker-1-5.jpg' %}" alt="Awesome Image"/>
                                    <span class="box"><i class="fa fa-flickr"></i></span>
                                </a></li>
                                <li><a href="#">
                                    <img src="{% static 'website/images/resource/flicker-1-6.jpg' %}" alt="Awesome Image"/>
                                    <span class="box"><i class="fa fa-flickr"></i></span>
                                </a></li>
                                <li><a href="#">
                                    <img src="{% static 'website/images/resource/flicker-1-7.jpg' %}" alt="Awesome Image"/>
                                    <span class="box"><i class="fa fa-flickr"></i></span>
                                </a></li>
                                <li><a href="#">
                                    <img src="{% static 'website/images/resource/flicker-1-8.jpg' %}" alt="Awesome Image"/>
                                    <span class="box"><i class="fa fa-flickr"></i></span>
                                </a></li>
                                <li><a href="#">
                                    <img src="{% static 'website/images/resource/flicker-1-9.jpg' %}" alt="Awesome Image"/>
                                    <span class="box"><i class="fa fa-flickr"></i></span>
                                </a></li>
                            </ul><!-- /.flicker-list -->

                        </div>
                        
                        <!-- Popular Tags -->
                        <div class="sidebar-widget popular-tags">
                            <div class="sidebar-title"><h2>Tag Cloud</h2></div>
                            <a href="#">Builders</a>
                            <a href="#">Bio & Chemical</a>
                            <a href="#">Construction</a>
                            <a href="#">Gas Engineer</a>
                            <a href="#">Growth</a>
                            <a href="#">Manufacturing</a>
                            <a href="#">New</a>
                            <a href="#">Stock</a>
                            <a href="#">Travel</a>
                            <a href="#">Transportation</a>
                            <a href="#">Process</a>
                        </div>
                        
                        <!-- Popular Tags -->
                        <div class="sidebar-widget subscribe-widget">
                            <div class="sidebar-title"><h2>Subscribe us for updates</h2></div>
                            <form action="sendemail.php" class="subscribe-form">
                                <input type="text" name="name" placeholder="Name">
                                <input type="text" name="email" placeholder="Email Address">
                                <button type="submit" class="theme-btn btn-style-one">Subscribe Us</button>
                            </form><!-- /.subscribe-form -->
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container-->

<!-- Main Footer -->
{% endblock %}

{% block extra_js %}
<script src="{% static 'website/js/slick.min.js' %}"></script>
{% endblock %}
