{% load static %}
<footer class="main-footer padding-top">
        <div class="auto-container">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row clearfix">
                    <!--Footer Column-->
                    <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                        <div class="logo"><a href="{% url 'website:index' %}"><img src="{% static 'website/images/logo-2.png' %}" alt=""></a></div>
                        <div class="footer-widget subscribe-widget">
                            <div class="widget-content">
                                <div class="text">
                                    <h4>Let’s join & create something together</h4>
                                    <p>Must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and will give you completed.</p>
                                    <form class="subscribe-form">
                                        <input type="text" name="email" placeholder="Enter your email address...">
                                        <button type="submit"><i class="machinery-icon-next"></i>Subscribe Us</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                        <div class="footer-widget links-widget">
                            <div class="widget-title"><h2>Usefull Links</h2></div>
                            <div class="widget-content">
                                <ul class="list clearfix">
                                    <li><a href="{% url 'website:about' %}">About Company</a></li>
                                    <li><a href="{% url 'website:market_sector' %}">Our Services</a></li>
                                    <li><a href="{% url 'website:projects' %}">Latest Projects</a></li>
                                    <li><a href="{% url 'website:testimonial' %}">Testimonials</a></li>
                                    <li><a href="{% url 'website:market_sector_single' %}">Why Choose Us</a></li>
                                    <li><a href="{% url 'website:shop' %}">Shop Products</a></li>
                                    <li><a href="{% url 'website:contact' %}">Get a Quote</a></li>
                                    <li><a href="{% url 'website:about' %}">Site Map</a></li>
                                    <li><a href="{% url 'website:blog' %}">Latest From Blog</a></li>
                                    <li><a href="{% url 'website:faqs' %}">FAQ’s</a></li>
                                    <li><a href="{% url 'website:contact_2' %}">Contact Us</a></li>
                                    <li><a href="{% url 'website:faqs' %}">Private Policy</a></li>
                                </ul>
                            </div>
                        </div>  
                    </div>   

                    <!--Footer Column-->
                    <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                        <div class="footer-widget project-widget">
                            <div class="widget-title"><h2>Latest Projects</h2></div>
                            <div class="widgets-content">
                                <ul class="project-list clearfix">
                                    <li><a href="#">
                                        <img src="{% static 'website/images/resource/f-lp-1-1.jpg' %}" alt="Awesome Image"/>
                                        <span class="box">view</span>
                                    </a></li>
                                    <li><a href="#">
                                        <img src="{% static 'website/images/resource/f-lp-1-2.jpg' %}" alt="Awesome Image"/>
                                        <span class="box">view</span>
                                    </a></li>
                                    <li><a href="#">
                                        <img src="{% static 'website/images/resource/f-lp-1-3.jpg' %}" alt="Awesome Image"/>
                                        <span class="box">view</span>
                                    </a></li>
                                    <li><a href="#">
                                        <img src="{% static 'website/images/resource/f-lp-1-4.jpg' %}" alt="Awesome Image"/>
                                        <span class="box">view</span>
                                    </a></li>
                                    <li><a href="#">
                                        <img src="{% static 'website/images/resource/f-lp-1-5.jpg' %}" alt="Awesome Image"/>
                                        <span class="box">view</span>
                                    </a></li>
                                    <li><a href="#">
                                        <img src="{% static 'website/images/resource/f-lp-1-6.jpg' %}" alt="Awesome Image"/>
                                        <span class="box">view</span>
                                    </a></li>
                                </ul><!-- /.project-list -->
                            </div><!-- /.widgets-content -->
                        </div>
                    </div>      
                </div>
            </div>
        </div>
        
        <!--Footer Bottom-->
         <div class="footer-bottom">
            <div class="auto-container clearfix">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 text-left">
                        <a href="#" class="expert-link"><i class="machinery-icon-human-rights"></i>Quote From Our Expert</a>
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="copyright-text">&copy; 2019 All Rights Reserved by <a href="{% url 'website:index' %}">Machinery</a></div>                        
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4 col-sm-4 col-xs-12 text-right">
                        <ul class="footer-menu">
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Site Map</a></li>                            
                        </ul><!-- /.footer-menu -->
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row -->
            </div>
        </div>
    </footer>
