{% load static %}
<header class="main-header style-three">
        <!--Header Top-->
        <div class="header-top">
            <div class="auto-container clearfix">
                <div class="pull-left select_state">
                    <select class="selectpicker area_select">
                      <option value="1">Newyork</option>
                      <option value="2">London</option>
                      <option value="3">California</option>
                    </select>
                    <div class="info-value">
                        <div class="state" id="value1">
                            <ul>
                                <li><i class="machinery-icon-placeholder" aria-hidden="true"></i> 327 Nw 24th street rd 10475</li>
                            </ul>
                        </div>

                        <div class="state" id="value2">
                            <ul>
                                <li><i class="machinery-icon-placeholder" aria-hidden="true"></i> 425 Ln 21th street rd 10525</li>
                            </ul>
                        </div>

                        <div class="state" id="value3">
                            <ul>
                                <li><i class="machinery-icon-placeholder" aria-hidden="true"></i> 459 Cf 22th street rd 10689</li>
                            </ul>
                        </div>
                    </div><!-- /.info-value -->        
                </div>
                <div class="pull-right right-info">
                    <div class="social">
                        <span>Follow Us:</span><!--
                        --><a href="#" class="fa fa-facebook-f"></a><!--
                        --><a href="#" class="fa fa-twitter"></a><!--
                        --><a href="#" class="fa fa-linkedin"></a><!--
                        --><a href="#" class="fa fa-pinterest"></a><!--
                        --><a href="#" class="fa fa-rss"></a>
                    </div><!-- /.social -->
                    <div id="polyglotLanguageSwitcher">
                        <form action="#">
                            <select id="polyglot-language-options">
                                <option id="en" value="en" selected>English</option>
                                <option id="fr" value="fr">French</option>
                                <option id="de" value="de">Dutch</option>
                                <option id="it" value="it">Italian</option>
                                <option id="es" value="es">Espanol</option>
                            </select>
                        </form>
                    </div> <!-- End #polyglotLanguageSwitcher -->
                </div><!-- /.pull-right -->
            </div>
        </div>
        
        <!--Header-Upper-->
        <div class="header-upper">
            <div class="auto-container">
                <div class="clearfix">
                    
                    <div class="pull-left logo-outer">
                        <div class="logo"><a href="{% url 'website:index' %}"><img src="{% static 'website/images/logo.png' %}" alt="" title=""></a></div>
                    </div>
                    
                    <div class="pull-right upper-right clearfix">
                        
                        <!--Info Box-->
                        <div class="upper-column info-box">
                            <div class="icon-box"><span class="machinery-icon-clock"></span></div>
                            <ul>
                                <li><strong>Mon - Sat:</strong> 9am to 7pm</li>
                                <li>Sunday: Closed</li>
                            </ul>
                        </div>
                        
                        <!--Info Box-->
                        <div class="upper-column info-box">
                            <div class="icon-box"><span class="machinery-icon-telephone"></span></div>
                            <ul>
                                <li><strong>Office:</strong> +31 888 56 789</li>
                                <li><strong>Factory:</strong> 555-123-4567</li>
                            </ul>
                        </div>
                        
                        <!--Info Box-->
                        <div class="upper-column info-box">
                            <div class="icon-box"><span class="machinery-icon-mails"></span></div>
                            <ul>
                                <li><strong>Mail us at</strong></li>
                                <li>info@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
        <!--Header Lower-->
        <div class="header-lower">
            
            <div class="auto-container">
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current dropdown"><a href="#">Home</a>
                                    <ul>
                                        <li><a href="{% url 'website:index' %}">Home One</a></li>
                                        <li><a href="{% url 'website:index2' %}">Home Two</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">About Us</a>
                                    <ul>
                                        <li><a href="{% url 'website:about' %}">About Company</a></li>
                                        <li><a href="{% url 'website:testimonial' %}">Testimonials</a></li>
                                        <li><a href="{% url 'website:faqs' %}">FAQ’s</a></li>
                                        <li><a href="{% url 'website:pricing' %}">Pricing Table</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Market Sectors</a>
                                    <ul>
                                        <li><a href="{% url 'website:market_sector' %}">Market Sectors</a></li><li><a href="{% url 'website:market_sector_single' %}">Construction Products</a></li>
                                        <li><a href="{% url 'website:aero_space_services' %}">Aero Space Services</a></li>
                                        <li><a href="{% url 'website:railway_infrastructure' %}">Railway Infrastructure</a></li>
                                        <li><a href="{% url 'website:ship_building_industry' %}">Ship Building Industry</a></li>
                                        <li><a href="{% url 'website:power_and_energy' %}">Power and Energy</a></li>
                                        <li><a href="{% url 'website:automative_system' %}">Automative System</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Projects</a>
                                    <ul>
                                        <li><a href="{% url 'website:projects' %}">Projects Default</a></li>
                                        <li><a href="{% url 'website:projects_with_filter' %}">Projects With Filter</a></li>
                                        <li><a href="{% url 'website:projects_modern' %}">Projects Modern</a></li>
                                        <li><a href="{% url 'website:projects_single' %}">Single Project</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">News</a>
                                    <ul>
                                        <li><a href="{% url 'website:blog' %}">Blog Default</a></li>
                                        <li><a href="{% url 'website:blog_large_image' %}">Blog Large Image</a></li>
                                        <li><a href="{% url 'website:blog_single' %}">Single Post</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Shop</a>
                                    <ul>
                                        <li><a href="{% url 'website:shop' %}">Shop Products</a></li>
                                        <li><a href="{% url 'website:shop_single' %}">Product Single</a></li>
                                        <li><a href="{% url 'website:shoping_cart' %}">Shopping Cart</a></li>
                                        <li><a href="{% url 'website:checkout' %}">Checkout</a></li>
                                        <li><a href="{% url 'website:login' %}">My Account</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Contact Us</a>
                                    <ul>
                                        <li><a href="{% url 'website:contact' %}">Contact us 01</a></li>
                                        <li><a href="{% url 'website:contact_2' %}">Contact us 02</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <!--Search Box-->
                    <div class="search-box">
                        <div class="dropdown dropdown-outer">
                            <a href="#" class="qoute-link"><i class="machinery-icon-next"></i>Get a Quote</a>
                        </div>
                    </div>

                    <!-- Outer Box-->
                    <div class="outer-box">
                        <a href="{% url 'website:shoping_cart' %}" class="cart-btn"><i class="machinery-icon-null"></i><span class="count">0</span></a><!--
                        --><a href="#test-search" class="search-box-btn dropdown-toggle popup-with-zoom-anim" type="button" ><span class="fa fa-search"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Lower-->
        
        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="{% url 'website:index' %}" class="img-responsive"><img src="{% static 'website/images/logo-small.png' %}" alt="" title=""></a>
                </div>
                <!--Right Col-->
                <div class="right-col pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current dropdown"><a href="#">Home</a>
                                    <ul>
                                        <li><a href="{% url 'website:index' %}">Home One</a></li>
                                        <li><a href="{% url 'website:index2' %}">Home Two</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">About Us</a>
                                    <ul>
                                        <li><a href="{% url 'website:about' %}">About Company</a></li>
                                        <li><a href="{% url 'website:testimonial' %}">Testimonials</a></li>
                                        <li><a href="{% url 'website:faqs' %}">FAQ’s</a></li>
                                        <li><a href="{% url 'website:pricing' %}">Pricing Table</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Market Sectors</a>
                                    <ul>
                                        <li><a href="{% url 'website:market_sector' %}">Market Sectors</a></li><li><a href="{% url 'website:market_sector_single' %}">Construction Products</a></li>
                                        <li><a href="{% url 'website:aero_space_services' %}">Aero Space Services</a></li>
                                        <li><a href="{% url 'website:railway_infrastructure' %}">Railway Infrastructure</a></li>
                                        <li><a href="{% url 'website:ship_building_industry' %}">Ship Building Industry</a></li>
                                        <li><a href="{% url 'website:power_and_energy' %}">Power and Energy</a></li>
                                        <li><a href="{% url 'website:automative_system' %}">Automative System</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Projects</a>
                                    <ul>
                                        <li><a href="{% url 'website:projects' %}">Projects Default</a></li>
                                        <li><a href="{% url 'website:projects_with_filter' %}">Projects With Filter</a></li>
                                        <li><a href="{% url 'website:projects_modern' %}">Projects Modern</a></li>
                                        <li><a href="{% url 'website:projects_single' %}">Single Project</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">News</a>
                                    <ul>
                                        <li><a href="{% url 'website:blog' %}">Blog Default</a></li>
                                        <li><a href="{% url 'website:blog_large_image' %}">Blog Large Image</a></li>
                                        <li><a href="{% url 'website:blog_single' %}">Single Post</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Shop</a>
                                    <ul>
                                        <li><a href="{% url 'website:shop' %}">Shop Products</a></li>
                                        <li><a href="{% url 'website:shop_single' %}">Product Single</a></li>
                                        <li><a href="{% url 'website:shoping_cart' %}">Shopping Cart</a></li>
                                        <li><a href="{% url 'website:checkout' %}">Checkout</a></li>
                                        <li><a href="{% url 'website:login' %}">My Account</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Contact Us</a>
                                    <ul>
                                        <li><a href="{% url 'website:contact' %}">Contact us 01</a></li>
                                        <li><a href="{% url 'website:contact_2' %}">Contact us 02</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
            </div>
        </div>
        <!--End Sticky Header-->
    </header>

<div class="search_area zoom-anim-dialog mfp-hide" id="test-search">
    <div class="search_box_inner">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
