{% load static %}<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}Machinery - HTML Template{% endblock %}</title>
<!-- Stylesheets -->
<link href="{% static 'website/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'website/css/style.css' %}" rel="stylesheet">
<link href="{% static 'website/css/responsive.css' %}" rel="stylesheet">

<!--Favicon-->
<link rel="shortcut icon" href="{% static 'website/images/favicon.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'website/images/favicon.png' %}" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="{% static 'website/js/respond.js' %}"></script><![endif]-->
{% block extra_css %}{% endblock %}
</head>

<body>
<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Main Header-->
    {% block header %}{% include 'includes/header.html' %}{% endblock %}
    <!-- End Main Header -->

    {% block content %}{% endblock %}

    <!-- Main Footer -->
    {% block footer %}{% include 'includes/footer.html' %}{% endblock %}
    <!-- End Main Footer -->

</div>
<!--End pagewrapper-->

{% block extra_body %}{% endblock %}

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-arrow-up"></span></div>
<script src="{% static 'website/js/jquery.js' %}"></script>
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
<script src="{% static 'website/js/jquery-ui.js' %}"></script>
<script src="{% static 'website/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'website/js/owl.js' %}"></script>
<script src="{% static 'website/js/appear.js' %}"></script>
<script src="{% static 'website/js/wow.js' %}"></script>
{% block extra_js %}{% endblock %}
<script src="{% static 'website/js/script.js' %}"></script>
</body>
</html>
